# This file lists the direct dependencies for the project.
pip-tools==7.5.2

# Linting and type checking tools
mypy==1.18.1
ruff==0.14.9

# Web framework and database adapter
Django==6.0
psycopg2-binary==2.9.11
gunicorn==23.0.0